<h1>Welcome to Yelplikedemo!</h1>
<h2>This is one of the sample applications for <%= link_to "BaseRails", "https://www.baserails.com" %>, a platform that teaches people to build awesome custom websites with the Ruby on Rails programing language.  Sign up and start learning today!</h2>

